#imgList{
	list-style: none;
	position: absolute;
	left: 0px;
}

#imgList img{
	width: 500px;
	height: 300px;
}

#imgList li{
	float: left;
	margin: 0 10px;
}

#outer{
	width: 520px;
	height: 300px;
	overflow: hidden;
	/*background: url(../img/img-bg.png) no-repeat center #bfa;
	background-size: 530px 320px;*/
	background: #bfa;
	padding: 10px 0;
	position: relative;
	margin: 50px auto;
}

#navDiv{
	position: absolute;
	bottom: 10px;
}

#navDiv a{
	float: left;
	width: 15px;
	height: 15px;
	background: #FF0000;
	margin: 0 5px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#navDiv a:hover{
	background-color: black;
}
